@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300|Open+Sans+Condensed:300);

.wf-loading h1, .wf-loading h2, .wf-loading h3, 
.wf-loading a, .wf-loading li, .wf-loading span, .wf-loading p {
	visibility:hidden;
}

body {
	background-color: #f8f9fe;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	font-weight: 300;
	text-shadow: 0px 0px 2px #a6a7a8;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #004b85;
	text-shadow: 0px 0px 1px #a6a7a8;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #004b85;
	text-shadow: 0px 0px 1px #a6a7a8;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
}

ul {
	list-style-type: none;
	padding: 10px 2px;
	border-right: 1px solid #b33c2e;
}

li {
	margin-left: -2px;
	padding: 2px 0px 2px 4px;
}

li:hover {
	background-color: #004b85;
	color: white;
}

.highlight-red {
	padding: 4px;
	color: white;
	background-color: #e4263d;
}

.highlight-blue {
	padding: 4px;
	color: white;
	background-color: #004b85;
	font-size: 36px;
}

.text-blue {
	color: #004b85;
	text-shadow: 0px 0px 1px #a6a7a8;	
}

.clear {
	padding: 4px 4px;
	font-size: 36px;
}

@media screen and (max-width: 360px) {
	.header-desc {
		visibility: hidden		
	}
}

.header-desc {
	text-align: right;
}

.italic {
	font-style: italic;	
}

.header {
	background-color: white;
	border: 1px solid #f8f9fe;
	border-radius: 4px;
	box-shadow: 0px 0px 5px 4px #a6a7a8;
	
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	width: 100%;
	padding: 10px;
}

.container {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	
	width: 700px;
	margin: 20px auto;
	
	background-color: white;
	border: 1px solid #f8f9fe;
	border-radius: 4px;
	box-shadow: 0px 0px 5px 4px #a6a7a8;
	padding: 20px;
	
}

.super {
	font-family: 'Open Sans', sans-serif;
	font-size: 8px;
	vertical-align: super;
}

.center {
	width: 280px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

table {
	border-collapse: collapse;
}

table th {
	border-bottom: 1px solid #666666;
	
}


table th, td {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	
	
	font-weight: 400;
	
	text-align: center;
	padding: 7px;
	margin: 0px;
	min-width: 50px;
}

button {
	padding: 4px;
	color: white;
	background-color: #004b85;
	box-shadow: 0px 0px 3px 2px #a6a7a8;
	
	border-style: none;
	border-radius: 4px;
	cursor: pointer;
}

button:active {
	cursor: pointer;
	padding: 4px;
	color: white;
	background-color: #e4263d;
	box-shadow: 0px 0px 4px 2px #a6a7a8;
	border-style: none;
	border-radius: 4px;
}

